.bg-mynav {
  background-color: #000000;
}

body {
  font-size: 1.25rem;
  background-color: #ebe7de;
}

td {
  line-height: 3rem;
}

.table {
  color: #000307;
}

h2 {
  color: #000305;
  font-family: sans-serif;
  border: #000000;
}